<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>This is webpack complete guide</p>
        <div id="root"><%- initialContent -%></div>
        <script src= 'bundle.js' ></script>
    </body>
</html>